.comparator-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin-right: 2rem;
  transition: var(--default-transition);
  box-shadow: var(--background-shadow);
  background: var(--card-background);
  border-radius: var(--border-radius);
  color: var(--secondary-text);
  min-height: 16rem;
}

.comparator-item:last-child {
  margin-right: 0;
}

.comparator-item-current {
  font-size: 2rem;
}

.comparator-item-current.up {
  color: var(--green-color);
}

.comparator-item-current.down {
  color: var(--red-color);
}

.comparator-item-exchange {
  color: var(--secondary-text);
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.comparator-item-price {
  display: flex;
  justify-content: space-between;
  margin: 0.2rem 0;
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  width: 100%;
}

.comparator-item-price:nth-child(odd) {
  background-color: var(--card-background);
}
