.convertion-tool {
  margin: 2rem 0;
  width: 100%;
  color: var(--primary-text);
  background-color: var(--card-background);
  border-radius: var(--border-radius);
  box-shadow: var(--background-shadow);
  padding: 1rem;
  display: flex;
  box-sizing: border-box;
}

.convertion-tool-input-container {
  display: flex;
  flex-direction: column;
  min-width: 15rem;
}

.convertion-tool-title {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 1rem;
}

.convertion-tool-input {
  font-size: 1.25rem;
}

.convertion-tool-results {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

@media screen and (max-width: 992px) {
  .convertion-tool {
    margin: 0 0 2rem 0;
    flex-direction: column;
  }

  .convertion-tool-input-container {
    min-width: initial;
  }

  .convertion-tool-results {
    flex-direction: column;
  }
}
