.App {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  color: var(--primary-text);
  padding: 0 5%;
  width: var(--content-width);
  margin: 0 auto;
}

.App-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-content.no-nav {
  height: 100%;
}
